// -----------------------------------------------------------------------
// CSS-переменные
// -----------------------------------------------------------------------



// -----------------------------------------------------------------------
// Цвета

:root {
    --body-text-color: #444;
    --titles-color: #000;
    --red-color: #ff8e8e;
    --green-color: #95ccb5;
    --gray-color: #999;
    --page-color: #e5e5e5;
  
  
    --main-margin: 15px;
    --main-side-margin: 20px;
    --main-side-l-margin: 60px;
    --header-left-margin: 20px;
  
    --s-size: 14px;
    --f-size--h1: 60px;
  }


  
// -----------------------------------------------------------------------
// Размеры шрифтов

:root {  
    --s-size: 14px;
    --f-size--h1: 60px;

    @media (min-width: $media--tablet-start) {
        --f-size--h1: 80px;
    }
  }



// -----------------------------------------------------------------------
// Отступы

:root {
    --main-margin: 15px;
    --main-side-margin: 20px;
    --main-side-l-margin: 60px;
    --header-left-margin: 20px;

    @media (max-width: $media--m-mobile-end) {
        --header-left-margin: 90px;
    }

    @media (min-width: $media--tablet-start) {
        --main-margin: 55px;
        --main-side-margin: 60px;
        --header-left-margin: 200px;
    }

      
  @media (min-width: $media--desktop-start) {
        --header-left-margin: 390px;
        --main-side-l-margin: 120px;
        --main-side-l-margin: 120px;
    }
}
