// -----------------------------------------------------------------------
// Основная часть.
// -----------------------------------------------------------------------


.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "search"
                         "filter"
                         "goods"
                         "viewed"
                         "banner";
    padding-top: 60px;

    @media (min-width: $media--tablet-start) {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: min-content min-content min-content 1fr;
        grid-template-areas: "search goods"
                             "filter goods"
                             "viewed goods"
                             "banner goods";
        gap: 0 40px;
        padding-top: 120px;
    }
}

.search {
    grid-area: search;
    padding: var(--content-margin);

    @media (min-width: $media--tablet-start) {margin-bottom: -20px;}
}

.content__header {
    @include font-family-2;
    font-size: 24px;
    line-height: 1.2;
    color: var(--titles-color);
    border-bottom: 2px solid var(--titles-color);
    font-weight: 500;
    padding-bottom: 12px;
    margin: 0 0 25px;
}

.filter-container {grid-area: filter;}
.goods {grid-area: goods;}
.viewed {grid-area: viewed;}
.banner {grid-area: banner;}

@import 'content/search-form.scss/';
@import 'content/filter.scss/';