// -----------------------------------------------------------------------
// Основная часть.
// -----------------------------------------------------------------------


.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "search"
                         "filter"
                         "content"
                         "viewed"
                         "banner";
}

.search {
    grid-area: search;
    padding: var(--content-margin);
}

.content__header {
    @include font-family-2;
    font-size: 24px;
    line-height: 1.2;
    color: var(--titles-color);
    border-bottom: 2px solid var(--titles-color);
    font-weight: 500;
    padding-bottom: 12px;
    margin: 0 0 25px;
}

.filter-container {grid-area: filter;}
.content {grid-area: content;}
.viewed {grid-area: viewed;}
.banner {grid-area: banner;}

@import 'content/search-form.scss/';
@import 'content/filter.scss/';