@import 'helpers/helper.scss';



/* ----------------------------- Раскладка шапки (верх) ----------------------------- */
.header__top {
    display: grid;
    align-items: center;
    grid-template-areas: "burger logo tools";
    grid-template-columns: 60px 175px auto;
  
    @media (min-width: $media--tablet-start) {
      padding: var(--main-margin) var(--main-side-margin);
      grid-template-areas: "top-nav tools"
                           "logo logo";
      grid-template-columns: auto auto;
    }
  
    @media (min-width: $media--desktop-start) {
      grid-template-areas: "logo top-nav tools";
      grid-template-columns: 175px auto auto;
    }
  
    @media (max-width: $media--m-mobile-end) {
        grid-template-areas: "burger tools"
                             "logo";
        grid-template-columns: auto auto;
        justify-content: center;
        padding-top: 75px;
    }
  }
  
  .header__burger-menu {
    grid-area: burger;

    @media (min-width: $media--tablet-start) {display: none;}

    @media (max-width: $media--m-mobile-end) {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
    }
  }
  
  .header__logo {
    grid-area: logo;

    @media (min-width: $media--tablet-start) and (max-width: $media--tablet-end) {
        justify-self: center;
        padding-top: 20px;
    }
  }
  
  .header__nav {
    grid-area: top-nav;
    @media (max-width: $media--mobile-end) {display: none;}
  }
  
  .header__tools {
    grid-area: tools;
    justify-self: end;

    @media (max-width: $media--m-mobile-end) {
        background: var(--page-color);
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        justify-content: flex-end;
        z-index: 10;
    }
  }
  


  @import 'header/burger.scss/';
  @import 'header/logo.scss/';
  @import 'header/top-menu.scss/';
  @import 'header/tools.scss/';

  
  
  /* ----------------------------- Раскладка шапки (основная часть) ----------------------------- */
  .header__main {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 115px 68px auto;
    grid-template-areas: "header-title"
                         "header-breadcrumbs"
                         "header-img";
  
  
   @media (min-width: $media--tablet-start) {
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 205px 68px;
     grid-template-areas: "header-title header-img"
                          "header-breadcrumbs header-img";
     gap: 0 40px;
   }
  
   @media (min-width: $media--desktop-start) {gap: 0 80px;}
   @media (max-width: $media--m-mobile-end) { grid-template-rows: 80px 68px auto;}
  }
  
  
  /* точко-фон */
  .header__main::before {
    content: "";
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' preserveAspectRatio='none' width='32' height='32' viewBox='0 0 32 32'%3E%3Crect x='0' y='0' width='2' height='2' stroke='none' fill='%23444444'/%3E%3C/svg%3E") repeat;
    width: 354px;
    height: 322px;
    position: absolute;
    top: 15px;
    left: var(--main-side-margin);
    z-index: -1;
  }
  
  @media (max-width: $media--mobile-end) {
    .header__main::before {display: none;}
  }
  
  .header__title {
    grid-area: header-title;
    align-self: end;
    padding-left: var(--header-left-margin);
  }
  
  .header__breadcrumbs {
    grid-area: header-breadcrumbs;
    align-self: end;
  }
  
  .header__img {grid-area: header-img;}
  
  @media (min-width: $media--tablet-start) {
    .header__img {
      padding-right: var(--main-side-l-margin);
    }
  }
  
  
  @import 'header/breadcrumbs.scss/';
  @import 'header/header-img.scss/';
  