// -----------------------------------------------------------------------
// Хлебные крошки
// -----------------------------------------------------------------------



@import 'helpers/helper.scss';



.breadcrumbs {
    margin: 0;
    padding: 0 0 25px var(--header-left-margin);
    list-style-type: none;
    display: flex;
    border-bottom: 2px solid var(--titles-color);
    font-size: var(--s-size);
    font-weight: 500;
    line-height: 100%;
    text-transform: capitalize;
  }
  
  .breadcrumbs__item {
    margin: 0 12px 0 0;
    padding: 0;
    color: var(--red-color);
  }
  
  .breadcrumbs__item:first-child {
    border-left: 2px solid var(--titles-color);
    padding-left: 10px;
  }
  
  .breadcrumbs a,
  .breadcrumbs a:link,
  .breadcrumbs a:visited {
    color: var(--titles-color);
  }
  
  .breadcrumbs a:hover,
  .breadcrumbs a:active {
    color: var(--red-color);
  }
